<!DOCTYPE html>
<html class="" lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <title>家厨数据中心</title>
    <link href="{{ static_url("packages/pagekit/theme-one/css/theme.css") }}" rel="stylesheet">
    <script src="{{ static_url("app/assets/jquery/dist/jquery.min.js") }}"></script>
    <script src="{{ static_url("app/assets/uikit/js/uikit.min.js") }}"></script>
    <script src="{{ static_url("app/assets/uikit/js/components/lightbox.min.js") }}"></script>
    <script src="{{ static_url("packages/bixie/portfolio/app/bundle/portfolio.js") }}"></script>
    <script src="{{ static_url("app/assets/uikit/js/components/sticky.min.js") }}"></script>
    <script src="{{ static_url("app/assets/uikit/js/components/parallax.min.js") }}"></script>
    <script src="{{ static_url("packages/pagekit/theme-one/js/theme.js") }}"></script>
    <script src="{{ static_url("sorttable.js") }}"></script>
    
    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.css" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.js"></script>
    {% block head %}{% end %}
  </head>
  <body>
    <div id="body">
      <div id="content">{% block body %}{% end %}</div>
    </div>
    {% block bottom %}{% end %}
  </body>
</html>
