<!DOCTYPE html>
<html class="" lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <link href="/packages/pagekit/theme-one/css/theme.css?v=4c0b" rel="stylesheet">
        <script>var $pagekit = {"url":"","csrf":"2f222a6de3eda93a208958de7471b6cff0994b4c"};</script>
        <script src="/app/assets/jquery/dist/jquery.min.js?v=4c0b"></script>
        <script src="/app/assets/uikit/js/uikit.min.js?v=4c0b"></script>
        <script src="/app/assets/uikit/js/components/lightbox.min.js?v=4c0b"></script>
        <script src="/packages/bixie/portfolio/app/bundle/portfolio.js?v=4c0b"></script>
        <script src="/app/assets/uikit/js/components/sticky.min.js?v=4c0b"></script>
        <script src="/app/assets/uikit/js/components/parallax.min.js?v=4c0b"></script>
        <script src="/packages/pagekit/theme-one/js/theme.js?v=4c0b"></script>
        <script src="sorttable.js"></script>
    </head>
    <body>
        <table class="uk-table uk-table-hover uk-table-condensed sortable">
        <caption><font color="red" size="3">2016年6月30日营业数据</font></caption>
            <thead>
                <tr>
                    <th style="font-weight:bold">项目</th>
                    <th style="font-weight:bold">类别</th>
                    <th style="font-weight:bold">支付方式</th>
                    <th style="font-weight:bold">订单数</th>
                    <th style="font-weight:bold">订单金额</th>
                    <th style="font-weight:bold">优惠合计</th>
                    <th style="font-weight:bold">实收金额</th>
                    <th style="font-weight:bold">客单价</th>
                    <th style="font-weight:bold">备注</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="5" align="center" style="font-weight:bold;font-style:normal"><font color="red" size="3">净利润</font></td>
                    <td></td>
                    <td style="font-weight:bold;font-style:normal"><font color="red" size="3">¥ 3333</font></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td rowspan="12" class="uk-table-middle">收入</td>
                    <td rowspan="3" class="uk-table-middle">早餐</td>
                    <td>有赞平台</td>
                    <td>12</td>
                    <td>¥12</td>
                    <td>¥-12</td>
                    <td>¥12</td>
                    <td>¥12</td>
                    <td></td>
                </tr>
                <tr>
                    <td>微信转账</td>
                    <td>12</td>
                    <td>¥12</td>
                    <td>¥-12</td>
                    <td>¥12</td>
                    <td>¥12</td>
                    <td></td>
                </tr>
                <tr>
                    <td>现金</td>
                    <td>12</td>
                    <td>¥12</td>
                    <td>¥-12</td>
                    <td>¥12</td>
                    <td>¥12</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2" align="middle">小计</td>
                    <td>12</td>
                    <td>¥12</td>
                    <td>¥-12</td>
                    <td>¥12</td>
                    <td>¥12</td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="3" class="uk-table-middle">午餐</td>
                    <td>有赞平台</td>
                    <td>12</td>
                    <td>¥12</td>
                    <td>¥-12</td>
                    <td>¥12</td>
                    <td>¥12</td>
                    <td></td>
                </tr>
                <tr>
                    <td>微信转账</td>
                    <td>12</td>
                    <td>¥12</td>
                    <td>¥-12</td>
                    <td>¥12</td>
                    <td>¥12</td>
                    <td></td>
                </tr>
                <tr>
                    <td>现金</td>
                    <td>12</td>
                    <td>¥12</td>
                    <td>¥-12</td>
                    <td>¥12</td>
                    <td>¥12</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2" align="middle">小计</td>
                    <td>12</td>
                    <td>¥12</td>
                    <td>¥-12</td>
                    <td>¥12</td>
                    <td>¥12</td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="3" class="uk-table-middle">晚餐</td>
                    <td>有赞平台</td>
                    <td>12</td>
                    <td>¥12</td>
                    <td>¥-12</td>
                    <td>¥12</td>
                    <td>¥12</td>
                    <td></td>
                </tr>
                <tr>
                    <td>微信转账</td>
                    <td>12</td>
                    <td>¥12</td>
                    <td>¥-12</td>
                    <td>¥12</td>
                    <td>¥12</td>
                    <td></td>
                </tr>
                <tr>
                    <td>现金</td>
                    <td>12</td>
                    <td>¥12</td>
                    <td>¥-12</td>
                    <td>¥12</td>
                    <td>¥12</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2" align="middle">小计</td>
                    <td>12</td>
                    <td>¥12</td>
                    <td>¥-12</td>
                    <td>¥12</td>
                    <td>¥12</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3" align="middle" style="font-weight:bold">6月30日收入总合计</td>
                    <td style="font-weight:bold">12</td>
                    <td style="font-weight:bold">¥12</td>
                    <td style="font-weight:bold">¥-12</td>
                    <td style="font-weight:bold">¥12</td>
                    <td style="font-weight:bold">¥12</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="9" align="middle"></td>
                </tr>
                <tr>
                	<td rowspan="6" class="uk-table-middle">支出</td>
                    <td colspan="2" class="uk-table-middle" style="font-weight:bold">采购总支出</td>
                    <td colspan="3"></td>
                    <td>¥1200</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="8" align="middle"></td>
                </tr>
                <tr>
                    <td style="font-style:italic">项目</td>
                    <td style="font-style:italic">类别</td>
                    <td style="font-style:italic">数量</td>
                    <td style="font-style:italic">单价</td>
                    <td style="font-style:italic">工作时间</td>
                    <td></td>
                    <td></td>
                    <td rowspan="5" class="uk-table-middle">每日固定支出</td>
                </tr>
                <tr>
                    <td rowspan="3" class="uk-table-middle">运费支出</td>
                    <td>早餐(5:50-8:50)</td>
                    <td>12</td>
                    <td>¥25</td>
                    <td>3</td>
                    <td>¥300</td>
                    <td></td>
                </tr>
                <tr>
                    <td>午餐(11:00-14:00)</td>
                    <td>12</td>
                    <td>¥25</td>
                    <td>3</td>
                    <td>¥300</td>
                    <td></td>
                </tr>
                <tr>
                    <td>晚餐(17:00-21:00)</td>
                    <td>12</td>
                    <td>¥25</td>
                    <td>3</td>
                    <td>¥300</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3" align="middle" style="font-weight:bold">6月30日支出总合计</td>
                    <td style="font-weight:bold"></td>
                    <td style="font-weight:bold"></td>
                    <td style="font-weight:bold"></td>
                    <td style="font-weight:bold">¥12</td>
                    <td style="font-weight:bold">¥12</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="8" align="middle"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>